.list {
  display: block;
  margin-bottom: 30px;
}

.card {
  margin-top: 20px;

  &:first-child {
    margin-top: 0px;
  }
}

.pending,
.closed {
  .card {
    &.has-won {
      border: 1px solid green;
    }

    &:not(.has-won) {
      opacity: 0.5;
    }
  }
}

.tender-status {
  font-size: 15px;
  opacity: 0.7;
  color: blue;

  &.closed {
    color: red;
  }
}