<div *ngLet="(m_Data$ | async) as dataList">
  <div *ngIf="dataList && dataList.length != 0" class="list">
    <mat-card class="card" *ngFor="let tender of dataList">
      <mat-card-header>
        <mat-card-title>{{tender.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="!tender.expiresOn" style="color: green;">expires: never</mat-card-subtitle>
        <mat-card-subtitle *ngIf="tender.expiresOn && !isInPast(tender.expiresOn)" style="color: green;">expires on:
          {{tender.expiresOn | date:'medium'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="tender.expiresOn && isInPast(tender.expiresOn)" style="color: red;">expired on:
          {{tender.expiresOn | date:'medium'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{tender.description}}</p>
        <tender-item-list *ngIf="tender.requirements && tender.requirements.length != 0" [i_Items]="tender.requirements">
        </tender-item-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="accent" [routerLink]="['..', tender.id]">Applications</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!dataList || dataList.length == 0">
    Nothing to display...
  </div>
</div>