table{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}


.btn-approve{
    margin-right: 10px ;
    width: 80px;
}

.btn-row{
    text-align: center;
}

.btn-decline{
    margin-left: 10px;
    width: 80px;
}