.svg-container {
    background-color: #CCE2C9;
    border: 1px solid rgb(54, 54, 54);
    display: block;
    margin: auto;
    }

.object-text{
    font-weight: 600;
    font-size: 20;
}

mat-tab-group{
    width: 320px;
    margin: 0 auto;
}