input{
    width: 20%;
}

mat-form-field {
    width: 45%;
    margin: auto;
}

select{
    width: 21%;
    margin: auto;
}

.button1
{
background-color: red;
}

div {
    width: 40%;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
    margin: auto;
  }





