<div class="main-container">
  <mat-toolbar color="primary" class="header">
    <div class="left">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-title">Manager dashboard</h1>
    </div>
    <div class="right">
      <button mat-flat-button color="accent" (click)="logout()">Log Out</button>
      <!-- <button mat-button (click)="navigateBack()">
        <mat-icon>keyboard_return</mat-icon>
        <span style="padding-left: 15px;">go back</span>
      </button> -->
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" class="sidenav" opened>
      <app-manager-nav></app-manager-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>