<html>
  
  <body>
      <table id="table1" >
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Patient</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          
          <tr *ngFor="let appointment of appointments">
            
            <td id="date">{{appointment.date | date: 'dd.MM.yyyy'}}</td>
            <td id="time" >{{checkTime(appointment.time)}}</td>
            <td id="patientId">{{appointment.patient.name}} {{appointment.patient.surname}}</td>
            <td>
              <button mat-icon-button (click)="updateAppointment(appointment.id)"> 
                    <mat-icon matTooltip="update">edit</mat-icon>
              </button></td>
            <td>
            <button mat-icon-button (click)="deleteAppointment(appointment.id)"> 
                  <mat-icon matTooltip="delete">delete</mat-icon>
            </button></td>
       
            
          </tr>
          
       
   
        </table>
      
  </body>
  </html>
  