<html>
  <h1>
      Scheduled appointments
  </h1>
  
  <body>
      <table id="table1">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Patient Id</th>
          </tr>
          <tr *ngFor="let appointment of appointments">
            <td id="date">{{appointment.date | date: 'dd.MM.yyyy'}}</td>
            <td id="time">{{appointment.time}}</td>
            <td id="patientId">{{appointment.patientId}}</td>
          </tr>
      </table>
  </body>
  </html>
  