/* You can add global styles to this file, and also import other style files */

section{
  padding:30px;
  box-sizing: border-box;
  &.plain{
    padding:0px;
  }
}

.page-container {
  max-width: 1000px;
  margin:auto;
}

.generate-report-mat-form-field > div > div:first-child > div:first-child{
  
  display: flex!important;
  align-items: center!important;
  
}
