<section *ngLet="{ tabChanges: m_TabControlChanges$ | async, 
  error: m_Error$ | async } as vm">
  <div class="tabs">
    <mat-button-toggle-group [formControl]="m_TabControl" name="tab" aria-label="Tabs">
      <mat-button-toggle value="unchecked">New requests</mat-button-toggle>
      <mat-button-toggle value="approved">Approved</mat-button-toggle>
      <mat-button-toggle value="disapproved">Declined</mat-button-toggle>
      <mat-button-toggle value="update">For adjustment</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <router-outlet></router-outlet>
</section>