<html>
  <h1>
      Examination reports
  </h1>
  
  <body>
        <table id="table1">
         <tr>
            <input #searchbar type="text" [(ngModel)]="searchText" (keyup)="getExaminationReport()">
         </tr>
         <tr>
            <th>Id</th>
            <th>Report</th>
            <th>Recipes</th>
          </tr>
          <tr *ngFor="let report of dataSource; let i = index"> 
            <td>{{report.examinationReportId}}</td>
            <td>{{report.report}}</td>  
            <td>{{listMedicines[i]}}</td>
          </tr>
        </table>
      
  </body>
  </html>