
.svg-container {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(54, 54, 54);
    display: block;
    margin: auto;
    }
.mat-card{
    background-color: rgb(222, 222, 222);
    width: 370px;
    position: sticky;
    top: 20px;
}



.mat-card-content{
    margin-top: 20px;
}

p{
    font-size: 18px;
    margin-top: 15px;
}

.mat-header-cell{
    font-size: 14px;
    color: #3f3f3f;
    font-weight: bold;
} 

table {
    width: 100%;
    background-color: rgb(232, 232, 232);
  }
  
tr.example-detail-row {
height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
text-align: center;
}

.example-element-description {
padding: 16px;
}

.example-element-description-attribution {
opacity: 0.5;
}

.move-title{
margin-top: 10px;
font-weight: 600;
}

.details-row{
background-color: #f2f2f2;
}

mat-form-field{
width: 100%;
}

.move-equipment-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}

.appointments-table{
    margin-top: 20px;
}

.appointments-table th, .appointments-table td{
    padding: 0.5rem;
}

.renovation-btn{
    margin-left: auto;
    margin-right: auto;
}

.requests-table{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

.map{
    transition: all 2s ease-in;
}

.col-12 {
    flex-grow: 1;
    transition: all 900ms ease;
}
  
.col-8 {
    width: 0; 
    flex-shrink: 1;
    transition: all 900ms ease;
}

.hidden{
    display: none;
}

