
.svg-container {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(54, 54, 54);
    display: block;
    margin: auto;
    }
.mat-card{
    background-color: rgb(222, 222, 222);
    width: 300px;
    position: sticky;
    top: 20px;
}

.mat-card-content{
    margin-top: 20px;
}

p{
    font-size: 18px;
    margin-top: 15px;
}

.mat-header-cell{
    font-size: 14px;
    color: #3f3f3f;
    font-weight: bold;
} 

table {
    width: 100%;
    background-color: rgb(232, 232, 232);
 }

 .quantity-header{
    text-align: right;
 }
 .quantity-row{
    text-align: right;
 }